<h1 class="text-center">Expert 1 on 1 help with
Ruby, Rails, JavaScript, and SQL</h1>

<div class="container">
  <div class="row">
    <%= render partial: "calendar/calendar",
      object: Calendar::Calendar.new(date: Date.today) %>
  </div>
</div>

<h3 class="text-right">Brought to you by the 
  <a href="https://onlinedevschool.com">Devschool</a></h3>
</div>
