<%= link_to [:customers, appointment] do %>
  <span class="hidden-xs"><strong>You</strong>
  are scheduled with Jim at</span>
  <strong><%= local_time(appointment.approved_start_at) %></strong>
  </span>
<%- end %>
