<div class="well">
<h3>You have an <%= appointment.current? ? "UPCOMING" : "past" %> appointment
with Jim OKelly</h3> 

<h4>The start time is at <%= local_time(appointment.start_at) %>
and the agreed rate is <%= number_to_currency(Appointment::DEFAULT_RATE) %>/hr
billed in increments of 15 minutes</h4>

<p>Your notes:</p>
<p><strong><%= appointment.notes %></strong></p>
</div>
