<div class="well">
<h3>You have requested an appointment with Jim OKelly</h3> 

<h4>Starting on <%= suggestion.start_at %>
with an agreed rate of <%= number_to_currency(Appointment::DEFAULT_RATE) %>/hr
billed in increments of 15 minutes</h4>

<p>You will be notified when Jim accepts this time!</p>

<p>Your notes:</p>
<p><strong><%= suggestion.notes %></strong></p>
</div>
