<div  style="display: none;">
<script id="hour-template" type="text/x-handlebars-template">
{{#each hours}}
  <li class="hour {{status}}" %>
    {{localTime start_at}}
  </li>
{{/each}}
</script>
</div>
