<div class="modal" id="agendaModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3><span class="glyphicon glyphicon-calendar"></span> 
        Pick a time to meet on <span id="selectedDate"></span></h3>
        <p>If the time slot is 'greyed out' it is unavailable</p>
      </div>
      <div class="modal-body">
        <ul id="agenda" class="list-unstyled">
          <%= render partial: 'hour', 
                    collection: @agenda.to_a %>
        </ul>
      </div>
    </div>
  </div>
</div>
