<div class="modal" id="loginModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Sign in or register</h4>
      </div>
      <div class="modal-body">
        <%= link_to "Sign in", new_customer_session_path %> or
        <%= link_to "Register", new_customer_registration_path %>
      </div>
    </div>
  </div>
</div>


