<%= link_to [:instructors, appointment] do %>
  <strong><%= appointment.customer.name %></strong>
  <span class="hidden-xs">is scheduled for</span>
  <strong><%= local_time(appointment.approved_start_at) %></strong>
  </span>
<%- end %>
