<div class="well">
<h3><%= suggestion.customer.name %> is requesting this appointment with you</h3>

<h4>Starting on <%= local_time(suggestion.start_at) %>

with an agreed rate of <%= number_to_currency(Appointment::DEFAULT_RATE) %>/hr
billed in increments of 15 minutes</h4>

<p>You will be notified when Jim accepts this time!</p>

<p>Your notes:</p>
<p><strong><%= suggestion.notes %></strong></p>
</div>
