<div class="modal" id="bookSlotModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Request the <span id="selectedTime"></span> 
            slot on <span id="selectedDate"></span></h3>
        <h4>With Ruby on Rails and Javascript Expert, Jim OKelly</h4>
      </div>
      <div class="modal-body">
        <%- if customer_signed_in? %>
          <%= render 'modals/schedule_form' %>
        <%- end %>
      </div>
    </div>
  </div>
</div>

