#agenda {
  overflow: scroll;
  height: 100%;

  .hour {
    border: 1px solid #999;
    margin: 4px;
    font-size: 1.8em;
    display: block;
    padding: 0.5em 1em;

    a, a:visited, a:active, a:hover {
      text-decoration: none;
    }
  }

  .unavailable {
    background-color: #ddd;
  }

  .hour.approved {
    background-color: #BAE2BA;
    border-color: rgba(126, 193, 126, 1);
    text-shadow: 0.04em 0.04em 0px rgba(126, 193, 126, 1);
    
    a {
      color: white;
    }
  }

  .hour.unapproved {
    border: 2px dotted #BAE2BA;
    background-color: #F5F7F5;

    a {
      color: #3BB93B;
    }
  }

  .hour.archived, 
  .hour.rejected {
    background-color: #eee;
    border-color: #ddd;
    
    a {
      color: #000;
    }
  }

  .hour::after {
    content: attr(data-hour);
    display: block;
  }
}

