#calendar {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  border: 1px solid #666;
  margin: 0;
  padding: 0;

  h1 {
    margin: 0;
    padding: 0.4em;
    background-color: #f3f3f3;
    text-align: center;
  }

  .th {
    font-size: 1.4em;
    line-height: 2.2em;
    flex: 3em 0 0;
  } 
  .week {
    flex: 40px 1 0;
    border-bottom: 1px solid #ccc;
  }

  .th, .week { display: flex; }
  .th>span {
    border-bottom: 4px solid rgba(255,0,0,0.3);
    padding: 0 1px 2px 0;
    text-align: center;
  }
  .week>div {
    border-top: 1px solid #eee;
    position: relative; /* allow ::after psuedo element absolute positioning */
    display: block;
  }
  .th>span, .week>div {
    width: 100%;
    color: #333;
  }

  /* Dates */
  .week>div::after {
    content: attr(data-day);
    display: block;
    position: absolute;
    top: 0; right: 2px;
    color: #999;
  }

  .week .today {
    border: 1px solid #ff0000;
  }

  .day.past {
    background-color: #eee;
  }

  .week .today::after {
    color: #ff0000;
  }

  /* Weekends */
  .th>span:first-child,    .th>span:last-child,
  .week>div:first-child,   .week>div:last-child {
    display: none;
  }
}
